*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 90vh;
    background-image: url(images/Skin\ Sheen.png);
    background-size: cover;
    background-attachment: fixed;
}
nav {
    width: 100%;
    height: 80px;
    background-color: white;
    color: peru;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: fixed;
    top: 0%;
}
.logo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
.logo span{
    color: darkgreen;
}
.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 18px;
}
.menu a:first-child {
    color: #e74c3e;
}
.menu a:hover {
    color: #e74c3e;
}
.icon i {
    font-size: 20px;
}
.icon i:hover {
    color: #e74c3e;
}
.icon a{
    text-decoration: none;
    background: #e74c3e;
    color: white;
    padding: 10px 20px;
    margin-left: 30px ;
    border-radius: 5px;
}
.h-text {
    color: white;
    max-width: 700px;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-50%, -50%);
}
.h-text span{
    color:#e74c3e;
}
.h-text h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    line-height: 1.5em;
}
.background1{
    width: 100%;
    background-image: url(images/SS2.png);
    padding: 15%;
}
.text1{
    color: black;
    padding-left: 50%;
}
.background2{
    width: 100%;
    background-image:url(images/ss4.png) ;
    padding: 15%;
}
.text2{
    color: black;
    padding-right: 50%;
}